{% include 'base.html' %}
<!-- <h2>Login</h2> -->
{% load form_edit %}
    <div class="card-body">
        {% load crispy_forms_tags %}
        <form class="form-signin" method="POST">
            {% csrf_token %}
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
                height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            {{form.username | addclass:"form-control"}}
            <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
            <label for="inputPassword" class="sr-only">Password</label>
            <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
            {{form.password | addclass:"form-control"}}
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
        </form>
    </div>
        <!-- Welcome All!
        {% block content %}
    
        {% endblock %}
    
        {% if user.is_authenticated %}
        <a href="/accounts/logout">Logout</a>
        {% else %}
        <a href="/accounts/login">Login</a>
        {% endif %}
    </div>
<form method="post">

    {% csrf_token %}
    {{form | crispy}}
    <button type="submit">Login</button>
</form>
<a href="/accounts/register">Don't have an account</a><a href="/accounts/password/reset/">Forgot
    password?</a> -->