{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Header -->
<div class="footer row">
    <div class="litt_logo col-4">
        <img src="{% static 'skins/gh_01_ek2.png'%}" alt="footer logo" href="\">
    </div>
    <div class="footer-creds col-8">
        <a href="contactUs.html">Contact</a>
        <a href="Privacy.html">Privacy</a>
        <a href="tos.html">Terms of use</a>
        <a href="Accessibility.html">Accessibility</a>
        <a href="cookie.html">Cookie Prefrences</a>
    </div>
</div>